.greeting-wrap {
    position: relative;
    height: 100vh;
    z-index: 1000;
  }
  
  .greeting-wrap .greeting-form {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 0);
  }
  
  .greeting-wrap .greeting-form .input-name {
    display: inline-block;
    width: 300px;
    height: 50px;
    border: none;
    font-size: 20px;
    color: #fff;
    border-bottom: 2px solid #fff;
    background: transparent;
  }
  
  .greeting-wrap .greeting-form .input-name:focus {
    outline: none;
  }
  
  .greeting-wrap .greeting-form .input-name::placeholder {
    font-size: 20px;
    color: #fff;
  }
  
  .greeting-wrap .greeting-form .login-btn {
    display: block;
    width: 200px;
    height: 50px;
    font-size: 30px;
    color: #fff;
    text-shadow: 1px #111;
    margin: 10px auto 0;
    border: none;
    background-color: transparent;
  }
  
  .hidden {
    display: none;
  }
  
  .greeting-wrap .clock {
    position: absolute;
    top: 15%;
    left: 50%;
    font-size: 100px;
    color: #fff;
    text-shadow: 1px #111;
    transform: translate(-50%, 0);
  }
  
  .greeting-wrap .greeting {
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 10px;
  }
  
  .quote-wrap {
    position: relative;
    z-index: 1000;
  }
  
  .quote {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;  
    width: 100%;
    margin-bottom: 10px;
  }
  
  .quote span {
    display: block;
    widows: 100%;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
  }
  
  .background {
    position: relative;
  }
  
  .background .black-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -5;
    background: #111;
    opacity: 0.5;
  }
  
  .background .bgImg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    width: 100vw;
    height: 100vh;
  }
  
  .todo-form {
    position: relative;
  }
  
  .todo-form .todo-form-input {
    position: absolute;
    bottom: 300px;
    left: 50%;
    width: 500px;
    height: 50px;
    transform: translate(-50%, 0);
    font-size: 20px;
    color: #fff;
    border: none;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    z-index: 3000;
  }
  
  .todo-form .todo-form-input::placeholder {
    font-size: 25px;
    color: #fff;
    text-align: center;
  }
  
  .todo-form .todo-form-input:focus {
    outline: none;
  }
  
  .todo-list {
    position: absolute;
    top: 62%;
    left: 30%;
    z-index: 5000;
    height: 220px;
    overflow-y: auto;
    width: 37%;
  }
  
  .todo-list li {
    color: #fff;
    font-size: 25px;
  }
  
  .todo-list li button {
    border: none;
    background: transparent;
  }
  
  .weather {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .weather span {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
  }